/* App.css */

.calculator, .result {
  text-align: center;
  margin-top: 50px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 200px;
  margin: 0 auto;
}

button {
  margin: 5px;
  padding: 15px;
  font-size: 18px;
}

a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.display {
  font-size: 2.5em;            /* Tamaño de fuente grande para el número actual */
  padding: 10px;
  margin-bottom: 20px;
  color: #333;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}


/*


*/

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  margin: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
}

.result {
  margin-top: 20px;
} */
